<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/common :: head"></head>
<body>
<header th:replace="fragments/common :: navbar"></header>
<div class="container" th:object="${laptop}">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4 text-center" th:text="*{model}">Page Heading
      <small>Secondary Text</small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row" >
  
      <div class="col-md-6" >
        <img class="img-fluid" th:src="*{picture.url}" alt="" height="750" th:width="550">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Laptop Description</h3>
        <p th:text="*{description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
        <h3 class="my-3">Laptop Details</h3>
        <ul>
            <li th:text="|Processor: *{processor.model}, *{processor.cores}, *{processor.frequency} GHz|"></li>
            <li th:text="|Video card: *{videoCard.gpu}, *{videoCard.memory} GB, *{videoCard.typeOfMemory}|">
            </li>
            <li th:text="|Ram: *{ramEntity.ram} GB, *{ramEntity.typeOfRam}|">Consectetur</li>
            <li th:text="|Hard disk: *{hardDisk}|">Consectetur</li>
            <li th:text="|Display: *{display}|">Consectetur</li>
            <li th:text="|Color: *{color}|">Consectetur</li>
            <li th:text="|Type: *{type} |">Consectetur</li>
            <li th:text="|Price: *{price}|">Consectetur</li>
        </ul>
          <a type="button" th:href="@{/buy/{id}/computer(id=*{id})}" class="btn btn-info">Buy</a>
          <div sec:authorize="hasRole('ADMIN')">
              <form th:action="@{/delete/{id}/laptop(id=*{id})}" th:method="delete">
                  <input type="submit" class="btn btn-danger" value="Delete"/>
              </form>
          </div>
      </div>
  
    </div>
  
  </div>
  </body>