<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/common :: head"></head>
<body>
<header th:replace="fragments/common :: navbar"></header>
<div class="container" th:object="${monitor}">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4 text-center" th:text="*{model}">Page Heading
      <small>Secondary Text</small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-6">
        <img class="img-fluid" th:src="*{picture.url}" alt="" height="750" width="550">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Monitor Description</h3>
        <p th:text="*{description}"></p>
        <h3 class="my-3">Monitor Details</h3>
        <ul>
          <li th:text="*{screen}">Lorem Ipsum</li>
          <li th:text="|*{size} inches|">Dolor Sit Amet</li>
          <li th:text="*{color}">Consectetur</li>
          <li th:each="connection : ${monitor.connectionType}" th:text="${connection}">Adipiscing Elit</li>
        </ul>
          <button type="button" class="btn btn-info">Buy</button>
      </div>
  
    </div>
  
  </div>
  </body>