<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/common :: head"></head>
<body>
<header th:replace="fragments/common :: navbar"></header>
<div class="container" th:object="${monitor}">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4 text-center" th:text="*{model}">Page Heading
        <small>Secondary Text</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" th:src="*{picture.url}" alt="" height="750" width="550">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Monitor Description</h3>
            <p th:text="*{description}"></p>
            <h3 class="my-3">Monitor Details</h3>
            <ul>
                <li th:text="*{screen}">Lorem Ipsum</li>
                <li th:text="|*{size} inches|">Dolor Sit Amet</li>
                <li th:text="*{color}">Consectetur</li>
            </ul>
            <a type="button" th:href="@{/buy/{id}/monitor(id=*{id})}" class="btn btn-info">Buy</a>
            <div sec:authorize="hasRole('ADMIN')">
                <a type="button" th:href="@{/edit/{id}/monitor(id=*{id})}" class="btn btn-success">Edit</a>
                <form th:action="@{/delete/{id}/monitor(id=*{id})}" th:method="delete">
                    <input type="submit" class="btn btn-danger" value="Delete"/>
                </form>
            </div>
        </div>

    </div>

</div>
</body>