<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head"></head>

<body>

<header th:replace="fragments/common :: navbar"></header>


<div class="container-fluid">
    <h1 class="text-center text-dark mt-5">Welcome to Stats!</h1>
    <h3 class="text-center text-dark mt-5">Total requests <th:block th:text="${stats.getTotalRequest()}"></th:block></h3>
    <h3 class="text-center text-dark mt-5">Anonymous requests <th:block th:text="${stats.getAnonRequest()}"></th:block></h3>
    <h3 class="text-center text-dark mt-5">Authorized requests <th:block th:text="${stats.getAuthRequest()}"></th:block></h3>
    <h3 class="text-center text-dark mt-5">Register requests <th:block th:text="${registerStat.getRegisterRequests()}"></th:block></h3>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>